[submodule "gta4"]
	path = grand_theft_auto_iv
	url = https://github.com/interactive-game-maps/grand_theft_auto_iv.git
[submodule "killing_floor-stronghold"]
	path = killing_floor-stronghold
	url = https://github.com/interactive-game-maps/killing_floor-stronghold.git
[submodule "grand_theft_auto_san_andreas"]
	path = grand_theft_auto_san_andreas
	url = https://github.com/interactive-game-maps/grand_theft_auto_san_andreas.git
[submodule "grand_theft_auto_iv"]
	path = grand_theft_auto_iv
	url = https://github.com/interactive-game-maps/grand_theft_auto_iv.git
[submodule "kona"]
	path = kona
	url = https://github.com/interactive-game-maps/kona.git
